body {
	font-family: "Barlow Semi Condensed";
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	position: fixed;
	font-style: italic;
	top: 20px;
	left: 0;
	right: 0;
}

#title {
	color: white;
	text-shadow: 0px 0px 5px #e2e2e2;
	font-size: 55px;
}

button {
	font-family: inherit;
	border: none;
	transition-duration: 0.3s;
}

.filllarge {
	font-size: 100px;
	color: white;
}

.fillleft {
	float: left;
	height: 100vh;
	width: 50%;
	margin: 0;
	padding: 0;
}

.fillright {
	float: right;
	height: 100vh;
	width: 50%;
	margin: 0;
	padding: 0;
}

#new {
	background-color: #009b00;
}

#open {
	background-color: #ff7600;
}

.icon-text {
	transform: scale(0.7);
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #f0f0f0;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	box-shadow: 0px 2px 5px grey;
}

.navitem {
	font-size: 23px;
	background-color: transparent;
	font-weight: normal;
	color: #0080ff;
	color: #0080ff;
	border-radius: 10px;
	padding: 5px 10px;
}

.navbody {
	margin-top: 75px;
}

.navright {
	float: right;
	margin-left: 5px;
}

.navleft {
	float: left;
	margin-right: 5px;
}

.danger {
	background-color: rgba(206, 0, 0, 0.09);
	color: #ce0000;
}

.suggest {
	background-color: rgba(0, 155, 0, 0.09);
	font-weight: bold;
	color: #009b00;
}

#ideabox {
	width: 80vw;
	height: 50px;
	font-size: 35px;
	font-family: "Farsan";
	border: solid 1px #959595;
	border-radius: 20px 20px 0px 0px;
	transition-duration: 0.3s;
	padding: 10px;
	margin: 0;
}

#ideabox::placeholder {
	color: grey;
}

#progcontainer {
	width: 80vw;
	padding: 1px 10px;
	border: solid 1px #959595;
	height: 25px;
	border-radius: 0px 0px 20px 20px;
	border-top: none;
	display: inline-block;
	margin-top: -2px;
	overflow: hidden;
	background-color: #b7b7b7;
}

#progbar {
	margin-left: -10px;
	height: 120%;
	padding-right: 20px;
	transition-duration: 0.3s;
}

.progfill0 {
	width: 0%;
	transition-duration: 0.3s;
	background-color: #009b00;
}

.progfill1 {
	width: 20%;
	transition-duration: 0.3s;
	background-color: #009b00;
}

.progfill2 {
	width: 40%;
	transition-duration: 0.3s;
	background-color: #009b00;
}

.progfill3 {
	width: 60%;
	transition-duration: 0.3s;
	background-color: #009b00;
}

.progfill4 {
	width: 80%;
	transition-duration: 0.3s;
	background-color: #009b00;
}

.progfill5 {
	width: 100%;
	transition-duration: 0.3s;
	background-color: #009b00;
}

.progfill10 {
	width: 100%;
	transition-duration: 0.3s;
	background-color: #0080ff;
}

.progfill11 {
	width: 100%;
	transition-duration: 0.3s;
	background-color: #de9100;
}

#ideacontainer {
	width: 100vw;
	text-align: center;
	padding-top: 60px;
}

.bold {
	font-weight: bold;
}

#progtext {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	font-size: 20px;
	color: white;
}

.sidebtn {
	font-size: 30px;
	background-color: transparent;
}

.navitem:disabled {
	color: #c6c6c6;
	background-color: transparent;
}

#clear {
	position: absolute;
	top: 156px;
	left: 3vw;
}

#clear:not(:disabled) {
	color: #ff5959;
}

#clear:disabled {
	transform: scale(0.75);
	color: #c7c7c7;
}

#nextside {
	position: absolute;
	top: 156px;
	right: 3vw;
	border-radius: 10px;
}

#nextside:not(:disabled) {
	color: #009b00;
	background-color: rgba(0, 155, 0, 0.09);
}

#nextside:disabled {
	transform: scale(0.75);
	color: #c7c7c7;
}

#inputhelp {
	position: absolute;
	bottom: 10vh;
	left: 0;
	color: #00a1f7;
}

#helpbox {
	border: solid 1px #0080ff;
	color: #0080ff;
	border-radius: 10px;
	margin: 20px;
	overflow: hidden;
	position: fixed;
	top: 100px;
	width: 88vw;
	padding: 5px;
	margin-left: 10vw;
	background-color: #ebf5ff;
	transition-duration: 0.3s;
}

#helpbox h2 {
	margin-top: 2px;
}

#helpbox p {
	margin: 0;
}

.hide {
	transition-duration: 0.3s;
	left: 120vw;
}

.explicit {
	background-color: #ffb2b2;
	color: red;
}

h2 {
	text-align: center;
}

select {
	padding: 5px 10px;
	border: solid 1px black;
	background-color: white;
	font-family: inherit;
	border-radius: 10px;
	width: 25vw;
	font-size: 20px;
	box-shadow: 0px 2px 5px grey;
}

#previewstory {
	margin-left: 50px;
	font-size: 18px;
	margin-right: 50px;
}

.activityselect {
	font-size: 20px;
	padding: 15px 20px;
	border-radius: 10px;
	margin: 0px 0.45vw;
	width: 23.7vw;
	box-shadow: 0px 2px 5px grey;
}

.navbody .open {
	text-align: center;
}

#startjumble:not(:disabled) {
	background-color: #f59f00;
	color: white;
}

#startwrite:not(:disabled) {
	background-color: #00b70e;
	color: white;
}

#startdraw:not(:disabled) {
	background-color: #00b3de;
	color: white;
}

#share:not(:disabled) {
	background-color: #de006f;
	color: white;
}

.readstory {
	padding: 15px 20px;
	border-radius: 10px;
	width: 13vw;
	font-size: 20px;
	margin: 0px 0.45vw;
	box-shadow: 0px 2px 5px grey;
}

#read1:not(:disabled) {
	background-color: #eb0000;
	color: white;
}

#read2:not(:disabled) {
	background-color: #f59f00;
	color: white;
}

#read3:not(:disabled) {
	background-color: #00b70e;
	color: white;
}

#read4:not(:disabled) {
	background-color: #00b3de;
	color: white;
}

#read5:not(:disabled) {
	background-color: #3857ff;
	color: white;
}

#readall:not(:disabled) {
	background-color: #de006f;
	color: white;
}

#stopread:not(:disabled) {
	background-color: #de8900;
	color: white;
}

.notyet {
	color: #c9c9c9;
	transition-duration: 0.3s;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 3px 5px black;
	border: 1px solid white;
}

#codetitle {
	font-weight: normal;
}

#codeentry {
	height: 30px;
	font-size: 25px;
	width: 100px;
	margin-top: 100px;
	font-family: "PT Mono";
	font-weight: normal;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	transition-duration: 0.3s;
}

.normal {
	border: 1px black solid;
}

.correct {
	background-color: rgb(168, 255, 168);
	color: #009b00;
	border: 1px #009b00 solid;
}

.wrong {
	background-color: rgb(255, 168, 168);
	color: #de0000;
	border: 1px #de0000 solid;
}

.floatingcentre {
	position: absolute;
	top: 100px;
	width: 50vw;
	left: 0;
	right: 0;
	padding-left: 25vw;
}

.about {
	text-align: center;
}

.loginbtn {
	padding: 5px;
	font-size: 15px;
	border-bottom-right-radius: 10px;
	background-color: white;
	border: 1px black solid;
}

.aboutbtn {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	font-size: 22px;
	border-bottom-right-radius: 20px;
	background-color: #3fa0ff;
	border: none;
	color: white;
}

.teachbtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
	font-size: 22px;
	border-bottom-left-radius: 20px;
	background-color: #3fa0ff;
	border: none;
	color: white;
}

.teachers,
.teachers h2 {
	text-align: left;
}

.teachers {
	margin-left: 15px;
}

#github {
	background-color: black;
	color: white;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 10px;
}

#jumbleresult {
	width: 80vw;
	height: 50px;
	font-size: 35px;
	font-family: "Farsan";
	border: solid 1px #959595;
	border-radius: 20px;
	transition-duration: 0.3s;
	padding: 10px;
	margin: 0;
}

#jumbleresult::placeholder {
	color: grey;
}

.jumblecontainer {
	width: 100vw;
	text-align: center;
}

#wordbank {
	margin-top: 20px;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #0080ff;
	border-radius: 20px;
	padding: 10px;
	height: 75px;
	text-align: center;
}

.wordbutton {
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 25px;
	color: white;
	margin-left: 10px;
	margin-top: 0px;
	height: 50px;
	background-color: #0080ff;
}

.used {
	color: white;
	background-color: #c6c6c6;
	font-size: 0px;
	height: 10px;
	margin-top: 25px;
	padding: 10px 20px;
}

#jumblearrow {
	transform: scale(4);
	color: #0080ff;
	margin: 5px;
}

#clearJumble {
	position: absolute;
	top: 160px;
	left: 15px;
}

#clearJumble:not(:disabled) {
	color: #ff5959;
}

#clearJumble:disabled {
	transform: scale(0.75);
	color: #c7c7c7;
}

#nextjumble {
	position: absolute;
	top: 160px;
	right: 15px;
	padding: 0px 8px 0px 8px;
	border-radius: 10px;
}

#nextjumble:not(:disabled) {
	color: #009b00;
	background-color: rgba(0, 155, 0, 0.09);
}

#nextjumble:disabled {
	transform: scale(0.75);
	color: #c7c7c7;
}

#readidea {
	border: none;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	position: relative;
	top: -55px;
	font-size: 25px;
	box-shadow: 0px 2px 5px grey;
}

#readidea:not(.stop) {
	color: white;
	background-color: #f59f00;
}

.stop {
	background-color: white;
	color: #f59f00;
}

.jumble {
	margin-top: 47px;
}

#loadingscreen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	text-align: center;
	padding-top: 20vh;
	transition: ease 0.5s;
}

.loadnormal {
	background: #00b3de;
	color: white;
}

.loaderror {
	background: #c20000;
	color: white;
}

.italic {
	font-style: italic;
}

.loaddone {
	margin-top: 100vh;
}

@keyframes flash {
	0%   {opacity: 0.5;}
	50%  {opacity: 1;}
	100% {opacity: 0.5;}
}

.ani-flash {
	animation: flash infinite cubic-bezier(.65,.05,.36,1) 1s;
}

#resultnote {
	position: fixed;
	width: 100vw;
	height: 50px;
	border-radius: 15px 15px 0px 0px;
	text-align: center;
	color: white;
	padding-bottom: 20px;
	padding-top: 15px;
	font-size: 20px;
	transition-duration: 0.3s;
	box-shadow: grey 0px -2px 5px;
}

#resultnote:not(.showresult) {
	bottom: -120px;
}

.showresult {
	bottom: 0;
}

.correctjumble {
	background-color: #009b00;
}

.wrongjumble {
	background-color: #c20000;
}

#resultclose {
	display: inline;
	padding: 10px 20px;
	font-size: 20px;
	position: absolute;
	top: -20px;
	left: 45vw;
	box-shadow: grey 0px 0px 5px;
	border-radius: 10px;
}

.closecorrect {
	background: white;
	color: #009b00;
}

.closewrong {
	background: white;
	color: #c20000;
}