body {
	font-family: "Barlow Semi Condensed";
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	position: fixed;
	font-style: italic;
	top: 20px;
	left: 0;
	right: 0;
}

#title {
	color: white;
	text-shadow: 0px 0px 5px #e2e2e2;
	font-size: 45px;
}

button {
	font-family: inherit;
	border: none;
	transition-duration: 0.3s;
}

.filllarge {
	font-size: 100px;
	color: white;
}

.fillleft {
	float: left;
	height: 100vh;
	width: 50%;
	margin: 0;
	padding: 0;
}

.fillright {
	float: right;
	height: 100vh;
	width: 50%;
	margin: 0;
	padding: 0;
}

#new {
	background-color: #009b00;
}

#open {
	background-color: #0080ff;
}

.icon-text {
	transform: scale(0.7);
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #f0f0f0;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}

.navitem {
	font-size: 23px;
	background-color: transparent;
	font-weight: normal;
	color: #0080ff;
	color: #0080ff;
	border-radius: 10px;
	padding: 5px 10px;
}

.navbody {
	margin-top: 75px;
}

.navright {
	float: right;
}

.navleft {
	float: left;
}

.danger {
	background-color: rgba(206, 0, 0, 0.09);
	color: #ce0000;
}

.suggest {
	background-color: rgba(0, 155, 0, 0.09);
	font-weight: bold;
	color: #009b00;
}

#ideabox {
	width: 80vw;
	height: 50px;
	font-size: 35px;
	font-family: "Farsan";
	border: solid 1px #959595;
	border-radius: 20px 20px 0px 0px;
	transition-duration: 0.3s;
}

#ideabox::placeholder {
	color: grey;
}

#progcontainer {
	width: 80vw;
	padding: 1px;
	border: solid 1px #959595;
	height: 20px;
	border-radius: 0px 0px 20px 20px;
	border-top: none;
	display: inline-block;
	margin-top: -2px;
	overflow: hidden;
	background-color: #b7b7b7;
}

#progbar {
	background-color: #009b00;
	padding-left: 1px;
	height: 120%;
	transition-duration: 0.3s;
}

.progfill0 {
	width: 0%;
	transition-duration: 0.3s;
}

.progfill1 {
	width: 20%;
	transition-duration: 0.3s;
}

.progfill2 {
	width: 40%;
	transition-duration: 0.3s;
}

.progfill3 {
	width: 60%;
	transition-duration: 0.3s;
}

.progfill4 {
	width: 80%;
	transition-duration: 0.3s;
}

.progfill5 {
	width: 100%;
	transition-duration: 0.3s;
}

#ideacontainer {
	width: 100vw;
	text-align: center;
	padding-top: 60px;
}

.bold {
	font-weight: bold;
}

#progtext {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	color: white;
}

.sidebtn {
	font-size: 30px;
	background-color: transparent;
}

.navitem:disabled {
	color: #c6c6c6;
	background-color: transparent;
}

#clear {
	position: relative;
	top: -65px;
	left: 91vw;
}

#clear:not(:disabled) {
	color: #ff5959;
}

#clear:disabled {
	transform: scale(0.75);
	color: #c7c7c7;
}

#inputhelp {
	position: absolute;
	top: 90vh;
	left: 0;
	color: #00a1f7;
}

#helpbox {
	border: solid 1px #0080ff;
	color: #0080ff;
	border-radius: 10px;
	margin: 20px;
	overflow: hidden;
	position: fixed;
	top: 100px;
	width: 88vw;
	padding: 5px;
	margin-left: 10vw;
	background-color: #ebf5ff;
	transition-duration: 0.3s;
}

#helpbox h2 {
	margin-top: 2px;
}

#helpbox p {
	margin: 0;
}

.hide {
	transition-duration: 0.3s;
	left: 120vw;
}

.explicit {
	background-color: #ffb2b2;
	color: red;
}

h2 {
	text-align: center;
}

select {
	padding: 5px 10px;
	border: solid 1px black;
	background-color: white;
	font-family: inherit;
	border-radius: 10px;
	width: 25vw;
	font-size: 15px;
}

#previewstory {
	margin-left: 50px;
	font-size: 18px;
	margin-right: 50px;
}

.activityselect {
	font-size: 20px;
	padding: 10px 15px;
	border-radius: 10px;
	margin: 5px;
	width: 23.7vw;
}

.navbody .open {
	text-align: center;
}

#startjumble:not(:disabled) {
	background-color: #de6700;
	color: white;
}

#startwrite:not(:disabled) {
	background-color: #00b70e;
	color: white;
}

#startdraw:not(:disabled) {
	background-color: #00b3de;
	color: white;
}

#share:not(:disabled) {
	background-color: #de006f;
	color: white;
}
